.sidebarChat {
    display: flex;
    padding: 15px;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover{
    background-color: #ebebeb;
}

.sidebarChat__info {
    margin-left: 15px;
}

.sidebarChat__info > h2{
    font-size: 17px;
    margin-bottom: 8px;
    color: black;
    text-decoration: unset;
}

.sidebarChat__info > p{
    color: grey;
}

.sidebarChat__info > p > abbr{
    text-decoration: none;
}

.sidebarChat__link{
    text-decoration: none;
}
